body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode'; background-color: #FFCEE4; padding: 0px 0px 100px 0px;
}
h1, h2, h3, h4{font-weight: bold;}
h1{font-size: 25px;}
h2{font-size: 22px;}
h3{font-size: 20px;}
h4{font-size: 18px;}
p{font-size: 18px;}
td{font-size: 18px;}
.navbar-expand-sm{
    background-color: #DB09A1 !important;
}

 .btn-primary{
    background-color: #939598;
    border: 1px solid #939598;
}

.btn-primary:hover{
    background-color: #FFCEE4;
    border: 1px solid #FFCEE4

}

.nav-link{
    color: #939598;
}

.navbar-brand{
    color: #939598;
    font-weight: 900;
    width: 300px;
}
.jail{width:60vh;}
.carousel{width:60vh;}

#demo{
    margin: 0 auto;
}
.codafone{padding: 10px 100px 20px 100px; text-align: justify;}
.headingcod{padding: 30px 100px 10px 100px;}

.navbar-nav.me-auto{
    display: none;
}

#mynavbar{
    justify-content: flex-end !important;
}

.details{padding: 50px 30px 30px 50px;}
.details2{padding: 150px; text-align: justify; font-size: 18px;

}

.card-img-top{
    /* width: 250px !important; */
}
.card-body{background-color: whitesmoke; border: 2px solid #DB09A1;}

